/node_modules
/public/hot
/public/storage
/public/api-docs
/public/node_modules
/public/package.json
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
.env
worker.log*
intro.doc
.phpintel/*